body {
  font-family: "Abel", sans-serif !important;
  background: linear-gradient(#CE5157, #3A1426);
  color: white; }

.greyish {
  background-color: #421029; }

nav {
  font-family: "Abel", sans-serif !important; }

.content {
  min-width: 100%;
  min-height: 100vh;
  background: url("../images/annie-spratt-608001-unsplash.jpg") center center no-repeat;
  position: relative;
  background-size: cover;
  padding: 100px 100px 0px 100px; }
  @media screen and (max-width: 900px) {
    .content {
      padding-top: 100px;
      padding-left: 0px;
      padding-right: 0px; } }
  .content input, .content select {
    border: 2px solid #321622 !important;
    height: 30px; }
    .content input:focus, .content select:focus {
      box-shadow: 0px 0px 0px 4px #321622 !important; }
  .content select.select-menu {
    display: block;
    width: 100%;
    padding-left: 10px;
    color: #999999; }
  .content input.check {
    border: none !important; }
  .content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6; }
  .content .left-content {
    color: white; }
    .content .left-content h1 {
      font-family: 'Oswald', sans-serif !important;
      font-weight: bold;
      font-size: 70px; }
    .content .left-content p {
      font-size: 30px;
      width: 500px; }
    .content .left-content .fa-arrow-right {
      animation: move 1s forwards infinite;
      width: 100px;
      color: #B1454D; }
@keyframes move {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 20px; }
  100% {
    margin-right: 0px; } }
  .content .card-header {
    background: rgba(66, 16, 41, 0.5) !important;
    color: white !important;
    font-size: 20px; }
  .content .header-card {
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.7) !important;
    color: white; }
    .content .header-card input, .content .header-card select, .content .header-card option {
      background: rgba(0, 0, 0, 0.7) !important;
      color: white; }
  .content .btn-custom {
    background-color: #421029;
    border: #553E4C;
    box-shadow: 0 8px 0 4px #421029; }
  .content button {
    background-color: #421029 !important;
    color: white !important;
    border: 1px solid #421029 !important; }
    .content button:hover {
      cursor: pointer; }
  .content button:focus {
    box-shadow: 0px 0px 0px 0px #421029 !important; }

#about .head {
  border: none;
  border-bottom: 1px solid #CE5159;
  display: inline-block;
  padding: 10px; }
@media screen and (max-width: 800px) {
  #about h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center !important; } }
#about #border-cont {
  background-color: #9A3B46;
  box-shadow: 2px 0px 12px 4px #4c080f82;
  padding: 20px;
  margin: 5px;
  margin-bottom: 50px;
  text-align: justify; }
  #about #border-cont img {
    color: #b3adad !important; }
  #about #border-cont h4 {
    font-weight: bolder; }
  #about #border-cont p {
    text-align: justify; }
  #about #border-cont .no {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8C2C38;
    color: white; }

section#our_team {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black; }
  section#our_team i {
    margin-left: 10px; }
  section#our_team h2 {
    color: black;
    text-align: center; }
  section#our_team .card {
    padding: 10px;
    border: 1px solid #8000801f !important;
    box-shadow: inset -1px -3px 20px 0px #c73b77; }
    section#our_team .card .btn-danger {
      color: #fff;
      background: linear-gradient(#bf39b5, #ff0052);
      border-color: #9f25a714; }

section.dev {
  width: 100%;
  padding: 30px;
  min-height: 500px; }
  section.dev .dev-words {
    float: right;
    height: 300px;
    border: none;
    border-right: 3px solid #3A434C; }
  section.dev .dev-bg {
    min-height: 300px; }
    section.dev .dev-bg img {
      width: 250px; }

section#contact-us {
  position: relative;
  background: #fff;
  min-height: 500px;
  width: 100%;
  color: #000000;
  padding: 20px; }
  section#contact-us .container {
    height: 500px; }
  section#contact-us .head {
    border: none;
    border-bottom: 1px solid #CE5159;
    display: inline-block;
    padding: 10px; }
  section#contact-us p {
    font-size: 20px;
    text-align: justify; }
  section#contact-us .fa {
    color: #af4d4d;
    font-size: 25px; }
  section#contact-us .custom {
    background: #fff;
    box-shadow: 0px 0px 0px 4px 0px rgba(66, 16, 41, 0.5); }

section.shape {
  background: url("../images/charles-456501-unsplash.jpg");
  width: 100%;
  min-height: 400px;
  padding: 30px;
  text-align: justify; }

section#footer {
  background-color: #000;
  width: 100%;
  min-height: 500px;
  border: none;
  display: inline-block;
  border-top: 2px solid #CC147F; }
  section#footer h1 {
    padding: 10px; }
  section#footer .where {
    color: #CC147F; }
  section#footer p {
    color: #999999; }
  section#footer i.fa {
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: 20px;
    color: #4F4F4F; }
  section#footer button.footer-btn {
    background-color: #CC147F !important;
    border: none;
    min-height: 50px;
    cursor: pointer;
    color: white;
    min-width: 100px;
    padding: 1em; }
  section#footer input {
    width: 300px;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 50px;
    border: 1px solid #4F4F4F; }
  section#footer .p-number {
    font-size: 30px;
    color: #4F4F4F !important; }
  section#footer article {
    color: #999999; }

/*# sourceMappingURL=style.css.map */
